---
const { 
  title, 
  description, 
} = Astro.props;
---

<article data-aos="zoom-in" data-aos-duration="800" class="relative bg-gray-800/40 border border-gray-500/20 rounded-2xl overflow-hidden shadow-lg w-full">
  <div class="p-4 flex flex-col gap-3">

    <div class="flex items-center gap-2">
        <div class="bg-sky-500/35 p-1 rounded-lg">
            <slot name="icon" />
        </div>

        <h3 class="text-lg font-semibold text-title">{title}</h3>
    </div>

    <p class="text-paragraph text-sm leading-relaxed">{description}</p>
  </div>
</article>