@import "tailwindcss";

/* Customs Styles */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Inter-VariableFont.ttf") format("ttf");
}

@theme {
  --font-inter: "Inter", sans-serif; 
  --color-title: #FFFFFF;
  --color-paragraph: #b7c0d3;
}

html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior: none;
  min-height: 100dvh;
}