---
const { title, items } = Astro.props;
import SkillItem from "./SkillItem.astro";
---

<div data-aos="zoom-in" data-aos-duration="800" data-aos-delay="100" class="p-4 bg-surface-low border border-border rounded overflow-hidden shadow-lg">
  <h3 class="font-jetbrains text-md font-semibold text-title mb-4 flex items-center gap-2">
    <span class="size-2 bg-white rounded-full shadow-[0_0_15px_2px_rgba(255,255,255,0.6)]"></span>
    {title}
  </h3>

  <div class="flex flex-wrap gap-3">
    {items.map((item: string) => <SkillItem name={item} />)}
  </div>
</div>