---
import Social from './About/Social.astro';
import EmailSocial from './About/EmailSocial.astro';
---

<section id="about">
    <div class="flex items-center justify-between gap-4 py-5 mx-auto max-w-5xl px-4 sm:px-6 lg:px-40">
        <article class="flex flex-col">
            <h1 data-aos="fade-in" data-aos-duration="800" class="font-jetbrains text-title text-3xl font-extrabold">
                Guillermo Daniel Bouix
            </h1>
            
            <span data-aos="fade-in" data-aos-delay="100" class="flex items-center gap-1 text-title/50 font-jetbrains font-medium">
                Misiones, Argentina
            </span>
            
            <p data-aos="fade-in" data-aos-duration="800" data-aos-delay="150" class="mt-2 text-white/75 max-w-xl font-regular">
                Desarrollador especializado en crear soluciones digitales rápidas, eficientes y seguras.
            </p>

            <div data-aos="fade-in" data-aos-delay="200" class="mt-2 flex gap-2">
                <Social ariaLabel="Perfil de LinkedIn" href="https://www.linkedin.com/in/guillermo-bouix" iconPath="/img/icons/linkedin.svg" />
                <Social ariaLabel="Perfil de GitHub" href="https://github.com/GuilleBouix" iconPath="/img/icons/github.svg" />
                <Social ariaLabel="Cuenta de Instagram" href="https://www.instagram.com/guillebouix.dev" iconPath="/img/icons/instagram.svg" />
                <Social ariaLabel="Mensaje directo a WhatsApp" href="https://wa.me/5493755653522?text=Hola,%20te%20contacto%20desde%20tu%20portafolio.%20Me%20gustaria%20saber%20m%C3%A1s%20sobre%20tus%20proyectos%20o%20c%C3%B3mo%20podemos%20trabajar%20juntos" iconPath="/img/icons/whatsapp.svg" />
                <EmailSocial ariaLabel="Copiar dirección de email" iconPath="/img/icons/email.svg" />
            </div>
        </article>

        <div 
            data-aos="flip-right" 
            data-aos-duration="800" 
            data-aos-delay="250" 
            class="glitch-container group relative hidden sm:block mr-4 w-48 aspect-square overflow-hidden rounded border border-[#30363D] transition"
        >
            <img
                loading="lazy" 
                width="192" 
                height="192" 
                src="/img/profile.webp" 
                alt="Foto de perfil de Guillermo Bouix" 
                class="w-full h-full object-cover object-top" 
            />
        </div>
    </div>

    <div class="flex flex-col gap-2 py-5 mx-auto max-w-5xl px-4 sm:px-6 lg:px-40">
        <h2 data-aos="fade-in" data-aos-duration="800" data-aos-delay="300" class="font-jetbrains text-title font-bold text-xl">
            Sobre Mí
        </h2>

        <p data-aos="fade-in" data-aos-duration="800" data-aos-delay="350" class="text-white/75">
            Soy desarrollador de software con formación universitaria. Inicié mi camino en el desarrollo en el 2022 y me gradué como Analista Programador en 2025. También cuento con una certificación en Análisis de Datos obtenida a través del curso de Python para Ciencia de Datos e IA.
            <br><br>
            Mi enfoque profesional se centra en crear soluciones tecnológicas directas y funcionales, priorizando interfaces amigables que resuelvan problemas reales y mejoren la experiencia del usuario. Me apasiona transformar ideas abstractas en aplicaciones concretas que las personas puedan usar y aprovechar.
            <br><br>
            Actualmente busco consolidar mi carrera en la industria tecnológica, combinando mis habilidades técnicas con una comprensión profunda de las necesidades del mercado para desarrollar productos que generen un impacto positivo y marquen una diferencia real.
        </p>
    </div>
</section>