<section id="contact">
    <div class="flex flex-col justify-between items-start gap-2 py-5 mx-auto max-w-5xl px-4 sm:px-6 lg:px-40">
        <h2 data-aos="zoom-in" data-aos-duration="800" class="text-title font-bold text-xl">
            Contáctame
        </h2>

        <form action="https://formspree.io/f/mrbnjrkw" method="POST" class="w-full flex flex-col gap-4 mt-2">
            <div data-aos="zoom-in" data-aos-duration="800" class="flex flex-col">
                <label for="email" class="sr-only">Correo Electrónico</label>
                
                <input type="email" autocomplete="email" name="email" id="email" placeholder="Tú email" required
                class="bg-gray-800/40 outline-none border border-gray-600/30 rounded-xl text-sm text-white px-4 py-3 focus:border-sky-400/40 transition" />
            </div>

            <div data-aos="zoom-in" data-aos-duration="800" class="flex flex-col">
                <label for="name" class="sr-only">Nombre</label>
                
                <input type="text" name="name" id="name" placeholder="Tú nombre (opcional)"
                class="bg-gray-800/40 outline-none border border-gray-600/30 rounded-xl text-sm text-white px-4 py-3 focus:border-sky-400/40 transition" />
            </div>

            <div data-aos="zoom-in" data-aos-duration="800" class="flex flex-col">
                <label for="message" class="sr-only">Mensaje</label>
                
                <textarea name="message" id="message" placeholder="Escribe tu mensaje..." required
                    class="bg-gray-800/40 outline-none border border-gray-600/30 rounded-xl text-sm text-white px-4 py-3 resize-none h-30 focus:border-sky-400/40 transition">
                </textarea>
            </div>

            <button data-aos="zoom-in" data-aos-duration="800" type="submit" class="w-full mt-2 text-white bg-sky-500 rounded-xl py-3 cursor-pointer duration-300 hover:shadow-[inset_0_-4px_20px_rgba(0,0,0,0.3)]">
                Enviar Mensaje
            </button>
        </form>
    </div>
</section>