<section id="education" class="mt-4">
    <div class="flex flex-col items-start justify-between gap-4 py-5 mx-auto max-w-5xl px-4 sm:px-6 lg:px-40">
        <h2 data-aos="zoom-in" data-aos-duration="800" class="text-title font-bold text-xl">
            Formación
        </h2>

        <ol data-aos="zoom-fade-in" data-aos-duration="800" class="relative ml-4 border-l border-gray-700/40 space-y-12">
            <!-- ITEM 1 -->
            <li class="relative pl-8">
                <!-- Punto del timeline -->
                <span class="absolute -left-2 top-1 w-4 h-4 rounded-full bg-sky-400 shadow-[0_0_12px_2px_rgba(56,189,248,0.5)]"></span>

                <div class="p-4 bg-gray-800/40 border border-gray-500/20 rounded-xl overflow-hidden shadow-lg w-full ">
                    <!-- Fecha -->
                    <time class="text-xs text-sky-300/80 bg-gray-800/40 border border-gray-700/50 px-2 py-0.5 rounded">
                        Mar. 2023 - Ago. 2025
                    </time>

                    <!-- Título -->
                    <h3 class="text-lg font-semibold text-title mt-2">
                        Analista Programador
                    </h3>

                    <!-- Institución -->
                    <p class="text-paragraph text-sm opacity-80">
                        Instituto Privado de Estudios Superiores IPET 1308
                    </p>

                    <p class="text-paragraph text-sm mt-2">
                        Carrera de nivel superior orientada al desarrollo de software, bases de datos y análisis de sistemas informáticos.
                    </p>

                    <!-- Botón para ver certificado -->
                    <a href="https://drive.google.com/file/d/1HzzVGtcIHEenFxYIkmbdnSj_jsCuyJT6/view?usp=sharing" target="_blank" class="inline-flex items-center gap-2 mt-3 text-sm px-3 py-2 rounded-md bg-gray-800/40 border border-gray-700/40 text-paragraph hover:bg-sky-500 hover:text-black hover:border-sky-500 transition cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                        </svg>

                        Certificado de Egreso
                    </a>
                </div>
            </li>

            <!-- ITEM 2 -->
            <li class="relative pl-8">
                <!-- Punto del timeline -->
                <span class="absolute -left-2 top-1 w-4 h-4 rounded-full bg-sky-400 shadow-[0_0_12px_2px_rgba(56,189,248,0.5)]"></span>

                <div class="p-4 bg-gray-800/40 border border-gray-500/20 rounded-xl overflow-hidden shadow-lg w-full ">
                    <!-- Fecha -->
                    <time class="text-xs text-sky-300/80 bg-gray-800/40 border border-gray-700/50 px-2 py-0.5 rounded">
                        Ene. 2025 - Abr. 2025
                    </time>

                    <!-- Título -->
                    <h3 class="text-lg font-semibold text-title mt-2">
                        Python para Ciencia de Datos e IA
                    </h3>

                    <!-- Institución -->
                    <p class="text-paragraph text-sm opacity-80">
                        Silicon Misiones
                    </p>

                    <p class="text-paragraph text-sm mt-2">
                        Curso centrado en el uso de Python para análisis de datos, machine learning e inteligencia artificial.
                    </p>

                    <!-- Botón para ver certificado -->
                    <button id="btnCertificate2" class="inline-flex items-center gap-2 mt-3 text-sm px-3 py-2 rounded-md bg-gray-800/40 border border-gray-700/40 text-paragraph hover:bg-sky-500 hover:text-black hover:border-sky-500 transition cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                        </svg>

                        Certificado
                    </button>
                </div>
            </li>

            <!-- ITEM 3 -->
            <li class="relative pl-8">
                <!-- Punto del timeline -->
                <span class="absolute -left-2 top-1 w-4 h-4 rounded-full bg-sky-400 shadow-[0_0_12px_2px_rgba(56,189,248,0.5)]"></span>

                <div class="p-4 bg-gray-800/40 border border-gray-500/20 rounded-xl overflow-hidden shadow-lg w-full ">
                    <!-- Fecha -->
                    <time class="text-xs text-sky-300/80 bg-gray-800/40 border border-gray-700/50 px-2 py-0.5 rounded">
                        Jul. 2022 - Oct. 2022
                    </time>

                    <!-- Título -->
                    <h3 class="text-lg font-semibold text-title mt-2">
                        Introducción a la Programación
                    </h3>

                    <!-- Institución -->
                    <p class="text-paragraph text-sm opacity-80">
                        Silicon Misiones
                    </p>

                    <p class="text-paragraph text-sm mt-2">
                        Curso básico donde aprendí los fundamentos de la programación, lógica computacional y estructuras de control.
                    </p>

                    <!-- Botón para ver certificado -->
                    <button id="btnCertificate3" class="inline-flex items-center gap-2 mt-3 text-sm px-3 py-2 rounded-md bg-gray-800/40 border border-gray-700/40 text-paragraph hover:bg-sky-500 hover:text-black hover:border-sky-500 transition cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                        </svg>

                        Certificado
                    </button>
                </div>
            </li>
        </ol>
    </div>
</section>