<footer class="py-4">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-40">
    <!-- Parte superior -->
    <div class="py-4 flex items-center justify-between gap-4 max-md:flex-col">
        <div class="flex flex-col max-md:items-center max-md:text-center">
            <strong class="text-xl text-title">Trabajemos Juntos</strong>
            <p class="text-paragraph text-sm">
                Si necesitás una solución real para tu negocio, escribime.
            </p>
        </div>

        <a href="https://drive.google.com/file/d/1uwlA_E1disSZoKbbQ_1VWAxzMwiY50xm/view" target="_blank"
        class="h-10 px-6 inline-flex items-center justify-center gap-1
                text-white text-sm rounded-lg bg-sky-500 transition
                hover:shadow-[0_0_10px_rgba(56,189,248,0.45)]
                hover:brightness-105
                max-md:px-8"
        >
        <svg class="w-4 h-4 text-title" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
                d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7ZM8 16a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1-5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z"
                clip-rule="evenodd"/>
        </svg>
        Mi Curriculum
      </a>
    </div>

    <!-- Parte inferior -->
    <div class="border-t border-gray-500/30 pt-4 flex items-center justify-between text-paragraph text-sm max-md:flex-col max-md:gap-2">
      <span>© 2025 Guillermo Daniel Bouix</span>
      <a class="hover:underline" href="/privacy-policy">
        Políticas de Privacidad
      </a>
    </div>

  </div>
</footer>