---
import SkillsGroup from "../components/Skills/SkillsGroup.astro";
---

<section id="skills" class="h-auto mt-2">
  <div class="flex flex-col items-start justify-between gap-4 py-5 mx-auto max-w-5xl px-4 sm:px-6 lg:px-40">
    <h2 data-aos="zoom-in" data-aos-duration="800" class="text-title font-bold text-xl">Herramientas & Habilidades</h2>

    <article class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <SkillsGroup
        title="Lenguajes"
        items={["Python", "JavaScript", "C#", "HTML", "CSS", "Visual Basic 6.0"]}
      />

      <SkillsGroup
        title="Frameworks & Librerías"
        items={["Flask", "Astro", "Tailwind CSS", "WinForms"]}
      />

      <SkillsGroup
        title="Bases de Datos"
        items={["PostgreSQL", "SQLite", "Microsoft Access"]}
      />

      <SkillsGroup
        title="Herramientas"
        items={["Git", "GitHub", "Figma", "Photoshop CS6"]}
      />
    </article>
  </div>
</section>