---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";

import ProjectPage from "../../components/Projects/ProjectPage.astro";
import Gallery from "../../components/Projects/Gallery.astro";
import FeaturesCard from "../../components/Projects/FeaturesCard.astro";

const myImages = [
  { src: "/img/projects/beardcut/1.webp", alt: "Primera captura" },
  { src: "/img/projects/beardcut/2.webp", alt: "Segunda captura" },
  { src: "/img/projects/beardcut/3.webp", alt: "Tercera captura" },
  { src: "/img/projects/beardcut/4.webp", alt: "Cuarta captura" },
  { src: "/img/projects/beardcut/5.webp", alt: "Quinta captura" },
  { src: "/img/projects/beardcut/6.webp", alt: "Sexta captura" },
  { src: "/img/projects/beardcut/7.webp", alt: "Séptima captura" },
  { src: "/img/projects/beardcut/8.webp", alt: "Octava captura" }
]
---

<Layout>
  <header>
    <Navbar />
  </header>
  
  <main id="content">
    <ProjectPage
      title="BeardCut"
      subtitle="Sistema de turnos para barbería"
      categories={["Full-Stack"]}
      banner="/img/projects/beardcut.webp"
      description="BeardCut es una aplicación web que combina una landing pública con un panel de administración desarrollado en Flask. La plataforma permite a los clientes reservar turnos directamente desde el sitio, mientras que el dueño del negocio gestiona reservas, horarios de atención, información del local y servicios disponibles desde un dashboard seguro. El sistema está pensado para centralizar la gestión diaria de turnos y reducir la coordinación manual entre clientes y el comercio."
      github="https://github.com/GuilleBouix/Turnos-Barberia.git"
      tech={["Astro", "JavaScript", "HTML", "Tailwind CSS", "Python", "Flask", "PostgreSQL"]}
    >

      <!-- Gallery -->
      <div slot="gallery">
        <Gallery images={myImages} />
      </div>

      <!-- Features -->
      <ul slot="features" class="list-disc list-inside space-y-3 mt-2">
        <FeaturesCard title="Turnos y agenda" description="Los visitantes pueden solicitar turnos y el sistema valida la disponibilidad." />
        <FeaturesCard title="Panel de administración" description="Tabla con fecha, horario, estado y acciones para completarlos o eliminarlos." />
        <FeaturesCard title="Horarios de atención" description="Configuración de horarios laborales del negocio." />
        <FeaturesCard title="Gestión de servicios" description="Administración del catálogo con nombre, categoría y precio." />
        <FeaturesCard title="Perfil del negocio" description="Configuración del nombre del local y esquema de horarios." />
      </ul>

    </ProjectPage>
  </main>
  
  <Footer />
</Layout>