---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";

import ProjectPage from "../../components/Projects/ProjectPage.astro";
import Gallery from "../../components/Projects/Gallery.astro";
import FeaturesCard from "../../components/Projects/FeaturesCard.astro";

const myImages = [
  { src: "/img/projects/lastdying/1.webp", alt: "Primera captura" },
  { src: "/img/projects/lastdying/2.webp", alt: "Segunda captura" },
  { src: "/img/projects/lastdying/3.webp", alt: "Tercera captura" },
  { src: "/img/projects/lastdying/4.webp", alt: "Cuarta captura" },
]
---

<Layout>
  <header>
    <Navbar />
  </header>

  <main id="content">
    <ProjectPage
      title="Last Dying"
      subtitle="Sitio Web Oficial"
      categories={["Frontend"]}
      banner="/img/projects/last-dying.webp"
      description="Desarrollé el sitio web oficial de Last Dying, un proyecto solista de metal instrumental. El sitio organiza el contenido en secciones claramente definidas, incluyendo el último lanzamiento, una discografía completa con previews de singles, EPs y álbumes, enlaces externos de compra a través de Bandcamp, una sección de biografía, formulario de contacto y acceso directo a plataformas digitales y redes sociales."
      github="https://github.com/GuilleBouix/Last-Dying-Official-Website.git"
      tech={["Astro", "JavaScript", "Tailwind CSS"]}
    >
  
      <!-- Gallery -->
      <div slot="gallery">
        <Gallery images={myImages} />
      </div>
  
      <!-- Features -->
      <ul slot="features" class="list-disc list-inside space-y-3 mt-2">
        <FeaturesCard title="Estructura de contenido" description="Secciones claras: último lanzamiento, discografía, biografía y contacto." />
        <FeaturesCard title="Discografía y enlaces externos" description="Previews de audio y enlaces a Bandcamp." />
        <FeaturesCard title="Performance y SEO" description="HTML semántico y recursos optimizados." />
        <FeaturesCard title="Código mantenible" description="Estructura simple para facilitar futuras actualizaciones." />
      </ul>
  
    </ProjectPage>
  </main>

  <Footer />
</Layout>