---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import ProjectPage from "../../components/Projects/ProjectPage.astro";
import Gallery from "../../components/Projects/Gallery.astro";
import FeaturesCard from "../../components/Projects/FeaturesCard.astro";

const myImages = [
  { src: "/img/projects/sistemagca/1.webp", alt: "Primera imagen" },
  { src: "/img/projects/sistemagca/2.webp", alt: "Segunda imagen" },
  { src: "/img/projects/sistemagca/3.webp", alt: "Tercera imagen" },
  { src: "/img/projects/sistemagca/4.webp", alt: "Cuarta imagen" },
  { src: "/img/projects/sistemagca/5.webp", alt: "Quinta imagen" },
  { src: "/img/projects/sistemagca/6.webp", alt: "Sexta imagen" },
  { src: "/img/projects/sistemagca/7.webp", alt: "Séptima imagen" },
  { src: "/img/projects/sistemagca/8.webp", alt: "Octava imagen" }
]
---

<Layout>
  <header>
    <Navbar />
  </header>

  <main id="content">
    <ProjectPage
      title="Sistema GCA"
      subtitle="Sistema de Gestión y Control de Asistencias"
      categories={["Aplicación de Escritorio", "BETA"]}
      banner="/img/projects/sistema-gca.webp"
      description="GCA es un sistema de control de asistencia de personal diseñado para gestionar los ingresos y egresos de empleados dentro de una empresa. El sistema registra los movimientos diarios para ofrecer información precisa sobre horas trabajadas, ausencias, tardanzas, justificaciones, horas extra y tiempo fuera del puesto laboral. La aplicación fue desarrollada como un sistema de escritorio utilizando C# .NET y Windows Forms, con foco en la confiabilidad y en un seguimiento preciso del tiempo para respaldar el control interno y la generación de reportes."
      github="https://github.com/GuilleBouix/Sistema-GCA"
      tech={["C#", "WinForms", "SQLite"]}
    >
  
      <!-- Galería -->
      <div slot="gallery">
        <Gallery images={myImages} />
      </div>
  
      <!-- Funcionalidades -->
      <ul slot="features" class="list-disc list-inside space-y-3 mt-2">
        <FeaturesCard title="Login de Usuarios" description="Acceso mediante usuarios con punto de entrada controlado." />
        <FeaturesCard title="Registro de Asistencias" description="Panel con ingresos/egresos, filtros, búsqueda y historial completo." />
        <FeaturesCard title="Detección de Códigos por Teclado" description="Listener que detecta códigos de 6 dígitos automáticamente." />
        <FeaturesCard title="Gestión de Empleados" description="Registrar, editar, eliminar y administrar empleados." />
        <FeaturesCard title="Estadísticas y Reportes" description="Métricas clave, gráficos y reportes por departamento." />
        <FeaturesCard title="Configuración del Sistema" description="Empresa, días laborales, horarios y puestos." />
      </ul>
    </ProjectPage>
  </main>

  <Footer />
</Layout>